<nav id="buttom-navbar" class="fixed bottom-0 left-0 right-0 bg-fitting-orange px-2 py-1">
  <ul class="w-100 shadow-lg list-unstyled list-group list-group-horizontal text-center">
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
    <button class="mx-auto list-group-item list-group-item-action">
      <%= link_to "#" do %>
      <p>アイコン</p>
      <% end %>
    </button>
  </ul>
</nav>
