<div class="flex flex-col justify-center h-screen">
  <div class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
    <div class="w-full md:w-1/3 bg-white grid place-items-center">
      <%= image_tag @board.board_image_url, class: "block mx-auto" %>
    </div>
    <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
      <div class="flex justify-between item-center">
        <fieldset class="rating_star">
          <span class="text-yellow-400">
            <%= display_rating_star(@board.rating_star.to_i) %>
          </span>
        </fieldset>
        <% if current_user.own?(@board) %>
          <div class='flex justify-end'>
            <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>
            <% end %>
            <%= link_to board_path(@board), id: "button-delete-#{@board.id}", data: { turbo_method: :delete, turbo_confirm: "削除しますか" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
      <h3 class="font-black text-gray-800 md:text-3xl text-xl">
        <%= @board.spot.name %>
      </h3>
      <div class="px-6 py-3 text-gray-900 font-bold text-lg hover:text-indigo-600 inline-block">
        <%= link_to user_path(@board.user) do %>
          <li class="flex items-center ">
            <%= image_tag @board.user.avatar_url, class: 'rounded-full w-12 h-12 object-cover' %>
            <span class="ml-2 mt-1"><%= @board.user.decorate.full_name %></span>
          </li>
        <% end %>
      </div>
      <div class="w-3/4 pl-4">
        <p class="mt-4">
          <%= simple_format(@board.comment) %>
        </p>
      </div>
      <div class="px-6 py-4 mb-auto">
        <% if @board.tags.any? %>
          <ul class="flex flex-wrap">
            <% @board.tags.each do |tag| %>
              <li>
                <%= link_to tag.name, "#", class: "inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'comments/form', comment: @comment, board: @board %>
  <div class="flex justify-center">
    <div class="w-2/3">
      <table class="table-auto w-1/4">
        <tbody id="table-comment">
          <%= render @comments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
