<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
    <% if (controller_name == 'static_pages' && action_name == 'top' && !logged_in?) || (controller_name == 'boards' && action_name == 'index' && logged_in?) || (controller_name == 'profiles' && action_name == 'show' && logged_in?) %>
      <%= render 'shared/footer' %>
    <% end %>
    <% if logged_in? %>
      <%= render 'shared/bottom_navbar' %>
    <% end %>
  </body>
</html>
